.panda-light{
    background-color: #f8f9fa;
}
.catagoris img{
    width: 100px;
}
.panda-info{
    background-color: #fceae8;
}
.panda-btn-buy-now{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}
.panda-warning{
    background-color: #ffa500;
}
.panda-bg-info{
    background-color: #da70d6;
}
.panda-bg-primary{
    background-color: #0000ff;
}
